bin/
build/
dist/
#g2asyncchat.spec
#g2imagegen.spec
#grounding2better.spec
*.spec
out/
#video*mp4
veo_error.json
last-classification.json
experiments/
t
veo_request.json
story-gemini-response.json
tmp
*.mp4
