genai-apptemplates-googlecloud/
.echodo_history*
.DS_Store
.envrc
.git-privatize
.ondir.was.here.touch
.gcloudconfig.yaml
_env_gaic.*
private
.env.derek
__pycache__/
.venv
.env
.tmp*
*tmp.txt
t.*
.hello*appname
