genai-apptemplates-googlecloud/
.echodo_history*
.DS_Store
.envrc
.git-privatize
.ondir.was.here.touch
.gcloudconfig.yaml
_env_gaic.*
private
.env.derek
__pycache__/
.venv
.env
.tmp*
*tmp.txt
t.*
.hello*appname
*.explain.txt
firebase-debug.log
t
18-python-l200challenge-mesop-travel-chat/duo_chat/main.py.originale
18-python-l200challenge-mesop-travel-chat/ricc_gegonos_chat/private-piu-nuovo-ma-non-sustainable/
22-gemini20/streamlit/generated_images/
99-rails-jupyter/
22-gemini20/imagen-with-reference-pics-new.py
