# Gemma Deployed model info
ENDPOINT_ID="6294864597715255296"
# actualyl a project number
PROJECT_NUMBER="980606839737"
INPUT_DATA_FILE="gemma-input.json"

# My personal URL: https://console.cloud.google.com/vertex-ai/models/locations/us-central1/models/google_gemma-7b-it-1708849093570/versions/1/deploy?&project=clouddeploy-vertexai-demovegas
